extends layout

block content
	include ./views/descriptions
	include ./views/feeds
	span #{description}

	h1 Nouvelles

	ul
		each feed in feeds
			li
				p= feed.date
				p= feed.title
				p= feed.presentator
				p= feed.createdAt
				p= feed.location
				p= feed.type
