extends layout

block content
	include ./views/descriptions
	include ./views/feeds
	span#index-page-description!= description.split("\n")

	h1 Nouvelles

	ul(style="list-style-type:none;")
		each feed in feeds
			li
				if (feed.type === 'seminar')
					img(src='./img/presentation-icon.png')
				else 
					i.fa.fa-file-text-o

				p.feeds-post-date= feed.createdAt
				p Prochain Séminaire : #{feed.title}
				p= feed.presentator
				p= feed.date
				p!= feed.location
