extends layout

block content
	include ./views/descriptions
	include ./views/feeds
	#index-page-description-wrapper
		span!= description.split("\n")

	h1 Nouvelles

	ul(style="list-style-type:none;")
		each feed in feeds
			li#index-news-list
				.index-news-wrapper
					if (feed.type === 'seminar')
						img.index-news-img(src='./img/presentation-icon.png')
					else 
						i.fa.fa-file-text-o.index-news-ico

				p.feeds-post-date= feed.createdAt
				if (feed.type === 'seminar')
					p Prochain Séminaire : #{feed.title}
					p= feed.presentator
					p= feed.date
					p!= feed.location
				else
					p!= feed.text
