extends layout

block content

	include ./views/publications-variables
	
	h1 Publications 
	button Ajouter une publication
	
	section
		i.fa.fa-window-close.fa-2x.close-button
		h1 Création d'une publication
		form
			span Année :&nbsp;
			input(type="number" name="year" value="2020" min="1900" max="2099")
			br
			span Mois :&nbsp;
			select(name="month" required)
				option(value="" disabled selected) - MOIS -
				option(value="Janvier") Janvier
				option(value="Février") Février
				option(value="Mars") Mars
				option(value="Avril") Avril
				option(value="Mai") Mai
				option(value="Juin") Juin
				option(value="Juillet") Juillet
				option(value="Aout") Aout
				option(value="Septembre") Septembre
				option(value="Octobre") Octobre
				option(value="Novembre") Novembre 
				option(value="Décembre") Décembre
			br
			span Titre :&nbsp;
			input(type="text" name="title" required)
			br
			span Auteurs :
			br
			input(type="text" name="auteurs" required)
			br
			i.fa.fa-plus.fa-3x
			br
			span Conférence :&nbsp;
			input(type="text" name="conference" required)
			br
			input(type="submit" value="Créer")

	span Trié par :&nbsp;
	select
		option(value="date" selected) date
	br
	span Ordonner par :&nbsp;
	select
		option(value="croissant" selected) croissant
		option(value="décroissant") décroissant
	br

	ul
		each publication in publications
			i.fa.fa-trash.fa-2x.close-button
			div
				div= publication.month
				div= publication.year
			div
				div= publication.title
				each author in publication.authors
					| #{author},
				div= publication.venue
	div
		span «
		span 1
		span 2
		span 3
		span »
	div
		| Afficher
		select
			option(value="10" selected) 10
			option(value="20") 20
			option(value="50") 50
		| résultats par page
