extends layout

block content
	include ./views/members
	-
		var membersByTitle = {};
		var pastMembers = {};
		members.forEach((member) => {
			const memberTitles = member.titles;
			memberTitles.forEach((title) => {
				if (title.current) {
					if (!(title.title in membersByTitle)) {
						membersByTitle[title.title] = [];
					}

					member.titles = member.titles.filter(item => item.title === title.title);
					membersByTitle[title.title].push(member);
				} else {
					if (!(title.title in pastMembers)) {
						pastMembers[title.title] = [];
					}

					member.titles = member.titles.filter(item => item.title === title.title);
					pastMembers[title.title].push(member);
				}
			});
		});
		var titleKeys = Object.keys(membersByTitle);
		var pastMembersTitleKeys = Object.keys(pastMembers);
	h1 Team

	each key in titleKeys
		h2= key
		ul
			each member in membersByTitle[key]
				li
					if (member.image)
						img(src=member.image)
					else
						i.fa.fa-user-circle.fa-5x.img-circle
					if (member.homepage)
						a(href=member.homepage) #{member.firstname} &nbsp; #{member.lastname}
					else
						p #{member.firstname} &nbsp; #{member.lastname}
					if (member.email)
						a= member.email

	h2 Past members
		each key in pastMembersTitleKeys
			h3= key
			ul
				each member in pastMembers[key]
					li
						p #{member.firstname} &nbsp; #{member.lastname}

					
	
