mixin publications
    ul#publication-table
            each publication in publications
                li.publication-row
                    .publication-delete
                        i.fa.fa-trash.fa-2x.close-button.delete-icon
                    .publication-date
                        .bold= publication.year
                        .capital= publication.month
                    .publication-content
                        div= publication.title
                        each author in publication.authors
                            | #{author},
                        .italic= publication.venue